# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Environnements virtuels
venv/
env/
ENV/
.venv/
.ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Static files
staticfiles/
static/

# Media files
media/

# Migrations
**/migrations/*
!**/migrations/__init__.py
